body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 1290px;
  padding: 0 15px;
  margin: auto;
}

.navbar {
  background-color: antiquewhite;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.menu__item {
  margin: 0 20px;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__link.active {
  color: red;
}

@media (hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
